name: CD
on:
  push:
    tags:
      - v*.*.*
  workflow_run:
    workflows:
      - CI
    types:
      - completed
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11
          cache: sbt
      - name: Setup SBT
        uses: sbt/setup-sbt@v1
      - name: Import GPG key
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
        run: |
          echo "$PGP_SECRET" > private-key.asc
          gpg --batch --import private-key.asc
          rm private-key.asc
      - name: Publish
        run: |
          export SONATYPE_USERNAME="${{ secrets.SONATYPE_USERNAME }}"
          export SONATYPE_PASSWORD="${{ secrets.SONATYPE_PASSWORD }}"
          export PGP_KEY_ID="${{ secrets.PGP_KEY_ID }}"
          sbt +clean ci-release